<div class="modal-header">
    <h3 class="modal-title">Inserir Produto</h3>
</div>
<div class="modal-body">
<form class="form-group" [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
    <input type="text" class="form-control mb-4" formControlName="name" placeholder="Nome">
    <input type="text" class="form-control mb-4" formControlName="link" placeholder="Link">
    <select class="form-control mb-4" formControlName="categories">
        <option selected disabled>Categoria</option>
        <option value="Placa de Vídeo">Placa de Vídeo</option>
        <option value="Memória">Memória</option>
        <option value="Processador">Processador</option>
        <option value="Outros">Periféricos</option>
    </select>
    <button  class="btn btn-success d-block">Salvar</button>
</form>
</div>
