<div class="modal-header">
    <h3 class="modal-title">Insert Item</h3>
</div>
<div class="modal-body">
  <form (ngSubmit)="createList()">
    <input class="form-control mb-2" placeholder="Name" type="text" id="name" name="name" [(ngModel)]="newItem.name" required>
    <input class="form-control mb-2" placeholder="Link" type="text" id="link" name="link" [(ngModel)]="newItem.link" required>
    <select class="form-control mb-2" id="category" name="category" [(ngModel)]="newItem.category" required>
      <option value="" disabled>Category</option>
      <option *ngFor="let category of categories" value="{{category.name}}">
        {{category.name}}
      </option>
    </select>
    <button class="btn btn-primary d-block" type="submit">Add Item</button>
  </form>
</div>
